/*
 * Login: xbielg00  
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 */

.COLORS{
  color:#363535;/* : základní šedá*/ 
  color:#888888;/* : světlejší šedá*/ 
  color:#e8e7e7;/* : jemná šedá*/ 
  color:black;/* : výzazná */
  color:white;/* : výrazná inverzní*/ 
  color:#cc3636;/* : dekorace */
  color:#ffd0d0;/* : světlejší dekorace*/ 
  color:blue/* : dekorace */
}
 

* {
  font-family: Poppins;
  color: #363535;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  letter-spacing: 0.4rem;
}

/* POPUP */
#heisenberg {
  display: none;
}

/* HEADER */

header {
  height: 67vh;
  min-height: 400px;
  display: block;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  opacity: 0.9;
  position: relative;
  top: 80px;
  margin-bottom: 100px;
  box-shadow: 0 0 8px 8px white inset;
}

#header-menu {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 140px;
  max-width: 1000px;
  margin: 10px auto 0;
  position: relative;
  bottom: 80px;
}

.contacts {
  width: max-content;
  height: max-content;
  grid-row: 1;
  grid-column: 1 / span 36;
  padding: 10px;
  max-height: 60px;
}

.contacts .phone {
  margin-left: 10px;
  float: right;
}

.contacts i {
  color: #cc3636;
}

.contacts a {
  color: #363535;
}

.contacts a:hover {
  color: #cc3636;
}

.networks {
  height: max-content;
  text-align: right;
  grid-row: 1;
  grid-column: 37 / span 64;
  padding-top: 10px;
}

.networks i {
  color: #363535;
  font-size: 22px;
  padding: 5px;
  margin: 0;
}
.networks i:hover {
  color: #cc3636;
}

.logo {
  display: inline-block;
  height: 80px;
  grid-row: 2;
  grid-column: 1 / span 36;
  background-color: white;
  box-shadow: 0 0 8px 8px white;
  border-top: 2px solid #e8e7e7;
  border-left: 2px solid #e8e7e7;
  position: relative;
  bottom: 10px;
}

.logo a {
  height: 100%;
  font-size: 32px;
  font-family: Bebas Neue;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  color: black;
  padding-left: 35px;
  position: relative;
  top: 15px;
}

.logo::first-letter {
  color: #cc3636;
}

.logo a:hover{
  display: none;
}

.logo:hover::after{
  font-size: 32px;
  font-family: Bebas Neue;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  color: #cc3636;
  padding-left: 35px;
  position: relative;
  top: 15px;
  content: "the crystal palace";
}

nav {
  font-size: 14px;
  letter-spacing: 0.05em;
  height: 80px;
  border-top: 2px solid #ffd0d0;
  border-right: 2px solid #ffd0d0;
  background-color: white;
  box-shadow: 0 0 8px 8px white;
  grid-column: 37 / span 64;
  position: relative;
  bottom: 10px;
}

nav ul {
  position: relative;
  top: 30px;
  float: right;

}

nav > ul > li {
  display: inline-block;
}

nav ul li a {
  color: #363535;
  margin-right: 10px;
  padding-bottom: 5px;
}

nav ul li:last-child a {
  color: #363535;
  margin-right: 50px;
}

nav > ul > li >a:hover {
  border-bottom: 1px solid #363535;
}

/* TODO: Dropdown menu  */

#tours-button > ul  {
  display: none;
}

/* 
nav .open > ul   {
  floae
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

nav .open > ul >li>a {
  display: block;
  background-color: yellow;
} */

#header-title {
  position: absolute;
  bottom: 100px;
  right: 50px;
  text-transform: capitalize;
}

#header-title p span:first-child {
  color: white;
  font-size: 52px;
  display: block;
  text-shadow: white 3px 0 10px;
}
#header-title p span:last-child {
  color: #cc3636;
  display: block;
  float: right;
  font-size: 24px;
  text-shadow: #cc3636 3px 0 10px;
}

#header-form {
  max-width: 1000px;
  margin: 23% auto 0;
  box-shadow: 0 0 4px 4px white, 0px 1px 4px 2px #cc3636;
  background-color: white;
  padding: 10px 6px;
  position: relative;
  top: 15px;
  border:none;
}

#header-form > form input,
#header-form > form select {
  padding: 12px;
  color: black;
  width: 18%;
  border: 1px solid #e8e7e7;
  border-radius: 5px;
}

#header-form > form input:focus{
  border: 3px solid blue;
  margin:20px;
  border-radius: 0px;
}

#header-form > form input:last-child {
  background-color: #cc3636;
  color: white;
}

/* About section */

#about {
  height: 60vh;
  width: 1200px;
  background-image: url("../img/meth.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-clip: content-box;
  margin: 10% auto;
  z-index: -3;
}

#about .heading {
  max-width: 60%;
  background-color: green;
  position: relative;
  top: 27%;
  background-color: #e8e7e7;
  padding-left: 43%;
  padding-bottom: 16%;
}

#about img {
  width: 40%;
  border-radius: 10px;
  position: relative;
  bottom: 55%;
  margin: 20px;
  opacity: 0.8;
  border-radius: 10px;
}

.heading > span {
  color: #cc3636;
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 4px;
}

.heading > h2 {
  position: relative;
  top: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

#about > p {
  position: relative;
  bottom: 125%;
  left: 43%;
  width: 57%;
}

/* Services section */

#services {
  background-color: #e8e7e7;
  height: 72vh;
  padding-top: 30px;
}

#services .heading {
  text-align: center;
}

#services .section-content {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto;
  gap: 20px;
}

#services .section-item {
  min-width: 250px;
}

.section-item h3 {
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  text-transform: capitalize;
}

#services .section-item img {
  height: 300px;
  width: 100%;
  opacity: 0.8;
}

.section-item p {
  padding-top: 15px;
}

/* Tours section */
#tours{
  background-image: url("../img/crystal-ship.svg");
  background-size: 40%;
  background-repeat: no-repeat;
}

#tours .heading {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 2%;
}

#tours .section-content {
  width: 1200px;
  margin: 40px auto;
  gap: 20px;
  opacity: 0.8;
}

#tours .section-item {
  margin: 40px auto 20px;
  padding-bottom: 40px;
  border-bottom: 1px dotted black;
}

#tours .section-item:last-child {
  border-bottom: 0px dotted black;
}

#tours .tour-props span{
  padding: 0px 5px;
  border-left: 1px solid black;
}

#tours .tour-props span:first-child{
  border-left: 0px;
}

#tours p{
  text-align: justify;
}

#tours h3{
  text-align: right;
}

#tours img {
  width: 40%;height: unset;
  margin:20px;
}

#tour1, #tour3{
  text-align: right;
}

#tour2 h3{
  text-align: left;
}

#tour1 img, #tour3 img {
  float: right;
  margin-right: 0;
  margin-top: 0;
}

#tour2 img {
  float: left;
  margin-top: 0;
  margin-left: 0;
}

