/*
 * Login: xbielg00  
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 */

.COLORS {
  color: #363535; /* : základní šedá*/
  color: #888888; /* : světlejší šedá*/
  color: #e8e7e7; /* : jemná šedá*/
  color: black; /* : výzazná */
  color: white; /* : výrazná inverzní*/
  color: #cc3636; /* : dekorace */
  color: #ffd0d0; /* : světlejší dekorace*/
  color: blue; /* : dekorace */
}

* {
  font-family: Poppins;
  color: #363535;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0s ease;
}

h2 {
  font-size: 32px;
  letter-spacing: 1rem;
}

#heisenberg {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition-delay: 0;
}

body > .open {
  visibility: visible !important;
  height: 120px;
  width: 300px;
  display: grid;
  grid-template-columns: 30% 70%;
  position: fixed !important;
  top: 80px;
  left: calc(50% - 150px);
  transition-duration: 0.5s;
  transform: translate(0, -40px);
  background-color: blue;
  box-shadow: 0 0 8px 8px blue;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.8 !important;
  z-index: 1;
}

body > .open > img {
  height: 100%;
  width: 100%;
  padding: 0 5px;
}

body > .open > div {
  display: inline-block;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

body > .open > div span {
  color: #e8e7e7;
  display: block;
  margin-left: 20px;
}

body > .open > div span:first-child {
  margin-top: 30px;
}

body > .open > div span b {
  color: #e8e7e7;
  text-transform: uppercase;
}

/* HEADER */

header {
  height: 67vh;
  min-height: 400px;
  display: block;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  opacity: 0.9;
  position: relative;
  top: 80px;
  margin-bottom: 100px;
  box-shadow: 0 0 8px 8px white inset;
}

#header-menu {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 140px;
  max-width: 1000px;
  margin: 10px auto 0;
  position: relative;
  bottom: 80px;
}

#header .contacts {
  width: max-content;
  height: max-content;
  grid-row: 1;
  grid-column: 1 / span 36;
  padding: 10px;
  max-height: 60px;
}

#header .contacts .phone {
  margin-left: 10px;
  float: right;
}

.contacts i {
  color: #cc3636;
  padding-right: 5px;
}

#header .contacts a {
  color: #363535;
  padding-right: 10px;
}

#header .contacts a:hover {
  color: #cc3636;
}

.networks {
  height: max-content;
  text-align: right;
  grid-row: 1;
  grid-column: 37 / span 64;
  padding-top: 10px;
}

.networks i {
  color: #363535;
  font-size: 22px;
  padding: 5px;
  margin: 0;
}
.networks i:hover {
  color: #cc3636;
}

.logo {
  display: inline-block;
  height: 80px;
  grid-row: 2;
  grid-column: 1 / span 36;
  background-color: white;
  box-shadow: 0 0 8px 8px white;
  border-top: 2px solid #e8e7e7;
  border-left: 2px solid #e8e7e7;
  position: relative;
  bottom: 10px;
}

.logo a {
  height: 100%;
  font-size: 32px;
  font-family: Bebas Neue;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  color: black;
  padding-left: 35px;
  padding-top: 15px;
  transition-duration: 0s;
}

.logo::first-letter {
  color: #cc3636;
}

.logo a:hover {
  color: transparent;
  position: absolute;
  top: 0;
  transition-duration: 0s;
}

.logo a:hover::before {
  font-size: 32px;
  font-family: Bebas Neue;
  font-weight: 600;
  text-transform: uppercase;
  color: #cc3636;
  content: "the crystal palace";
}

nav {
  font-size: 14px;
  letter-spacing: 0.05em;
  height: 80px;
  border-top: 2px solid #ffd0d0;
  border-right: 2px solid #ffd0d0;
  background-color: white;
  box-shadow: 0 0 8px 8px white;
  grid-column: 37 / span 64;
  position: relative;
  bottom: 10px;
}

nav ul {
  position: relative;
  top: 30px;
  float: right;
}

nav > ul > li {
  display: inline-block;
}

nav ul li a {
  color: #888888;
  margin-right: 5px;
  padding: 7px 5px;
}

nav ul li:last-child a {
  color: #888888;
  margin-right: 50px;
}

nav > ul > li > a:hover {
  border-bottom: 1px solid #363535;
  color: black;
}

/* TODO: Dropdown menu  */

#tours-button {
  max-width: 60px;
}

#tours-button ul {
  display: none;
}

nav .open ul {
  display: block !important;
}

nav .open {
  width: 100px;
}

nav .open > ul {
  list-style-type: none;
  position: relative;
  width: 100px;
  left: 30px;
  top: 12px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px 8px white;
}

nav .open > ul > li:hover a {
  color: black;
}

nav .open > ul > li > a {
  margin: 0;
  display: block;
  color: #888888;
}

nav .open > ul > li > a::before {
  color: #cc3636;
  content: ">";
  padding-right: 10px;
}

#header-title {
  position: absolute;
  bottom: 100px;
  right: 50px;
  text-transform: capitalize;
}

#header-title p span:first-child {
  color: white;
  font-size: 52px;
  display: block;
  text-shadow: white 3px 0 10px;
}
#header-title p span:last-child {
  color: #cc3636;
  display: block;
  float: right;
  font-size: 24px;
  text-shadow: #cc3636 3px 0 10px;
}

#header-form {
  width: 1000px;
  box-shadow: 0 0 4px 4px white, 0px 1px 4px 2px #cc3636;
  background-color: white;
  padding: 10px 6px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

#header-form > form input,
#header-form > form select {
  font-family: Poppins;
  padding: 15px 5px;
  margin: 0 auto;
  color: black;
  width: 18.8%;
  border: 1px solid #e8e7e7;
  border-radius: 5px;
}

#header-form > form select:focus {
  border: 2px solid blue;
  outline: none;
}

#header-form > form input:focus {
  border: 2px solid blue;
  outline: none;
}

#header-form > form input:last-child:hover {
  opacity: 0.8;
}

#header-form > form input:last-child {
  color: white;
  background-color: #cc3636;
}

#header-form form:valid input[type="submit"] {
  background-color: blue;
}

/* About section */

#about {
  height: 620px;
  max-width: 1200px;
  min-width: 1000px;
  width: 100%;
  background-image: url("../img/meth.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-clip: content-box;
  margin: 170px auto 5%;
  display: block;
  position: relative;
}

#about .heading {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
  background-color: #e8e7e7;
  padding-left: 40%;
  padding-bottom: 16%;
  transition-duration: 0.5s;
}

#about:hover .heading {
  background-color: #f2cdcc;
  border: 1px solid #cc3636;
}

#about > img {
  height: 100%;
  width: 37%;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  border-radius: 10px;
  opacity: 0.8;
  transition-duration: 0.5s;
}

#about:hover img {
  transform: translate(0, -50%) scale(1.03);
  opacity: 1;
}

.heading > span {
  font-family: Bebas Neue;
  color: #cc3636;
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 0.4rem;
}

.heading > h2 {
  position: relative;
  top: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

#about > p {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
}

/* Services section */

#services {
  background-color: #e8e7e7;
  height: fit-content;
  padding: 40px 0;
}

#services .heading {
  text-align: center;
}

#services .section-content {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  #services .section-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

#services .section-item {
  width: 100%;
  opacity: 0.8;
  position: relative;
  margin: auto;
}

.section-item h3 {
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto;
}

#services .section-item img {
  height: 300px;
  width: 100%;
  padding-top: 20px;
  object-fit: cover;
}

.section-item p {
  padding-top: 15px;
}

/* sectionitem hover behavior */

#services .section-item:hover {
  opacity: 1;
}

.section-item:hover img {
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.section-item:hover h3 {
  border-bottom: 1px solid #cc3636;
}

/* Tours section */
#tours {
  background-image: url("../img/crystal-ship.svg");
  background-size: 40%;
  background-repeat: no-repeat;
}

#tours .heading {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 2%;
}

#tours .section-content {
  max-width: 1200px;
  min-width: 1000px;
  width: 100%;
  margin: 40px auto;
}

#tours .section-item {
  margin: 40px auto 20px;
  padding-bottom: 60px;
  border-bottom: 1px dotted black;
  opacity: 0.8;
}

#tours .section-item:hover {
  opacity: 1;
}

#tours .section-item:last-child {
  border-bottom: 0px dotted black;
}

#tours .tour-props {
  padding-top: 15px;
}

#tours .tour-props span {
  padding: 0px 10px;
  border-left: 1px solid black;
}

#tours .tour-props span:first-child {
  border-left: 0px;
}

#tours p {
  text-align: justify;
}

#tours h3 {
  display: inline-block;
}

#tours img {
  width: 40%;
  margin: 20px;
}

#tour1,
#tour3 {
  text-align: right;
}

#tour2 h3 {
  text-align: left;
}

#tour1 img,
#tour3 img {
  float: right;
  margin-right: 0;
  margin-top: 0;
}

#tour2 img {
  float: left;
  margin-top: 0;
  margin-left: 0;
}

.tour-stars::before {
  color: #cc3636;
  font-family: "Font Awesome 6 Free";
  content: "\f005";
  padding-right: 10px;
}

.tour-duration::before {
  color: #cc3636;
  font-family: "Font Awesome 6 Free";
  content: "\f073";
  padding-right: 10px;
}
.tour-price::before {
  color: #cc3636;
  font-family: "Font Awesome 6 Brands";
  content: "\f15a";
  padding-right: 10px;
}

/* Pricing section */

#price .heading {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 2%;
}

#price .section-content {
  content: "";
  background-image: url("../img/huel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 32px 32px white;
  height: 600px;
  max-width: 1200px;
  min-width: 1000px;
  width: 100%;
  margin: 0% auto;
  gap: 20px;
  transform: scaleX(-1);
}

/* opacity */
#price .section-content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.4);
}

#price .section-content:hover:before {
  background-color: rgba(255, 255, 255, 0.6);
}
#price .section-content:hover {
  box-shadow: inset 0 0 40px 40px white;
}

#price .section-content:hover .section-item {
  transition-duration: 0.5s;
  transform: scaleX(-1) scale(1.1);
}

/* TODO zoomin, paddings ++ */

#price .section-item {
  transform: scaleX(-1);
  opacity: 1;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 10px 10px white;
  border-radius: 15px;
}

#price .section-item:nth-child(1) {
  width: max-content;
  background-color: white;
  position: absolute;
  right: 52%;
  top: 10%;
}

#price .section-item:nth-child(2) {
  width: max-content;
  background-color: white;
  position: absolute;
  right: 64%;
  top: 35%;
}

#price .section-item:nth-child(3) {
  width: max-content;
  background-color: white;
  position: absolute;
  right: 72%;
  top: 65%;
}

#price .section-item:hover {
  transform: scaleX(-1);
  opacity: 1;
  padding: 10px;
}

#price .section-item > h3 {
  display: inline-block;
  text-align: left;
  padding: 0;
  color: black;
}

#price .section-item > span {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 15px;
}

#price .section-item > ul {
  padding-top: 10px;
}

#price .section-item li {
  list-style: none;
  background-image: url("../img/crystal.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position-y: 0.2rem;
  padding-left: 30px;
}

/* hover over item */
#price .section-item:hover li {
  background-image: url("../img/crystal-blue.svg");
}

#price .section-item:hover span {
  visibility: visible;
  color: blue;
}

#price .section-item:hover h3 {
  border-bottom: 1px solid #363535;
}

/* clients section */

#clients .heading {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 2%;
}

#clients .section-content {
  max-width: 1200px;
  min-width: 768px;
  margin: 40px auto 140px;
  opacity: 0.8;
}

#clients .section-item img {
  width: 200px;
}

#clients .section-item {
  margin-bottom: 40px;
}

#clients .section-item blockquote {
  background-color: #e8e7e7;
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 15px 0;
  color: black;
  text-align: center;
}

/* hover */
#clients .section-item:hover blockquote {
  background-color: #cc3636;
  color: #e8e7e7;
}

#clients .section-item:last-child:hover img {
  transition-duration: 0.5s;
  box-shadow: 0 0 8px 5px #cc3636;
}
#clients .section-item:first-child:hover img {
  transition-duration: 0.5s;
  box-shadow: 0 0 8px 5px #cc3636;
}
#clients .section-item:first-child:hover > blockquote::after {
  background-color: #f2cdcc;
}
#clients .section-item:last-child:hover > blockquote::before {
  background-color: #f2cdcc;
}
/* senor tortuga */
#clients .section-item:first-child {
  display: grid;
  grid-template-areas: "item1 item3 ";
}

#clients .section-item:first-child > blockquote::after {
  content: " ";
  background-color: #e8e7e7;
  display: inline-block;
  width: 70px;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50%;
  margin: auto;
  position: absolute;
  top: 30px;
  right: -100px;
}

#clients .section-item:first-child blockquote {
  border-top-left-radius: 10px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50%;
  grid-area: item1;
  position: relative;
  margin: auto 0;
}

#clients .section-item:first-child img {
  border-top-left-radius: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 60px;
  grid-area: item3;
  box-shadow: 0 0 8px 5px #888888;
  margin: auto auto auto 135px;
}

/* tuco layout */
#clients .section-item:last-child {
  display: grid;
  grid-template-areas: "item1 item3 ";
}

#clients .section-item:last-child img {
  border-top-left-radius: 50px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 100px;
  box-shadow: 0 0 8px 5px #888888;
  grid-area: item1;
  margin: auto 135px auto auto;
}

#clients .section-item:last-child > blockquote::before {
  content: " ";
  background-color: #e8e7e7;
  display: inline-block;
  width: 70px;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 50%;
  margin: auto;
  position: absolute;
  top: 30px;
  left: -100px;
}

#clients .section-item:last-child blockquote {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 50%;
  grid-area: item3;
  margin: auto 0;
  position: relative;
}

/* footer */

footer {
  padding-top: 40px;
  padding-bottom: 5px;
  margin: 0;
  background-color: #363535;
}

footer h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: Bebas Neue;
}

footer h3 {
  color: white;
  text-transform: uppercase;
  padding: 20px 0;
}

footer h2,
footer a,
footer span,
.contacts span > a {
  color: white;
}

footer > :nth-child(1) {
  max-width: 1200px;
  margin: 1% auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 15px;
}

footer > :nth-child(2) {
  max-width: 1200px;
  margin: 1% auto;
  margin: 1% auto;
  padding-top: 20;
  border-top: 2px solid #888888;
}

footer a:hover {
  color: #cc3636;
}

#summary {
  grid-column: 1 / span 5;
}

#summary > h2:hover::first-letter {
  color: #cc3636;
}

#summary > p {
  color: #e8e7e7;
  width: 60%;
}

#summary .networks {
  padding-top: 0;
  text-align: left;
}

#summary .networks i {
  color: white;
  border: 1px solid #cc3636;
}

#summary .networks i:hover {
  background-color: #cc3636;
}

/* links */
#links {
  grid-column: 6 / span 2;
}

#links li {
  list-style: none;
}

#links li > a::before {
  color: #cc3636;
  content: ">";
  padding-right: 10px;
}

/* contact us */
#contact {
  grid-column: 8 / span 3;
}
#contact .contacts {
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

#contact form {
  padding: 0;
  margin: 0;
  gap: 0;
  border: none;
}

#contact input[name="email"] {
  margin-right: 0;
  padding: 5px;
  border: none;
}

#contact input[name="email"]:valid + input[type="submit"] {
  background-color: blue;
}

#contact input[type="submit"] {
  color: white;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: #cc3636;
  position: relative;
  right: 4px;
}

/* license */

#license {
  padding: 20px 0;
}

#license span {
  color: #e8e7e7;
  padding: 0 10px;
}

#license span:last-child {
  float: right;
}

/* Yo bitch! - arrow */

#jesse {
  display: none;
}

.scrolled #jesse {
  display: inline-block;
  margin: auto;
  position: fixed;
  right: 20px;
  bottom: 10px;
  padding: 15px 20px;
  border: 1px solid #cc3636;
  transition-duration: 0s;
}

.scrolled #jesse i {
  color: #cc3636;
}

.scrolled,
html,
body,
p {
  margin: 0;
  padding: 0;
}
